<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="user-group-form">

<input type="hidden" id="id" name="id" th:value="${userGroup.id}"/>
<input type="hidden" id="status" name="status" th:value="${userGroup.status}"/>
<input type="hidden" id="tenant.id" name="tenant.id" th:value="${userGroup.tenant.id}"/>
<input type="hidden" id="tenant.name" name="tenant.name" th:value="${userGroup.tenant.name}"/>
<input type="hidden" id="tenant.url" name="tenant.url" th:value="${userGroup.tenant.url}"/>

<ul class="nav nav-tabs" id="formTab" th:with="style=${!readOnly ? 'display: none;' : 'display: block;' }">
    <li class="active">
        <a href="#home">
            <span class="fa fa-tasks"></span>
        </a>
    </li>
    <li th:style="${style}">
        <a href="#authorShipTab">
            <span class="fa fa-user"></span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <div class="form-group">
            <label for="name" class="control-label" th:text="#{user.group.name}">
                user.group.name
            </label>
            <input class="form-control focus"
                   type="text"
                   id="name"
                   name="name"
                   th:value="${userGroup.name}"
                   th:readonly="${readOnly}"
                />
        </div>

        <div th:if="${!readOnly}"
                class="form-group">
            <label for="name" class="control-label">
                <span th:text="#{user.group.permissions.selected}">
                    user.group.permissions.selected
                </span>
            </label>

            <select name="permissions"
                    id="listTo"
                    size="5"
                    multiple="multiple"
                    class="form-control chosen-select"
                    th:disabled="${readOnly}"
                    th:attr="data-placeholder=#{common.select}"
                    th:with="style=${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER_CREATE'', ''ROLE_USER_EDIT'')') == false ? 'display: none;' : 'display: block;' }"
                    th:style="${style}"
                    >
                <option th:if="${permissionList != null} and ${userGroup != null} and ${userGroup.permissions == null}"
                        th:each="permission : ${permissionList}"
                        th:value="${permission}"
                        th:with="permissionName=${'user.permission.'} + ${permission}"
                        th:text="#{${permissionName}}"
                        />

                <option th:if="${permissionList != null} and ${userGroup != null} and ${userGroup.permissions != null}"
                        th:each="permission : ${permissionList}"
                        th:value="${permission}"
                        th:with="permissionName=${'user.permission.'} + ${permission}"
                        th:text="#{${permissionName}}"
                        th:selected="${#lists.contains(userGroup.permissions, permission)}"
                        />
            </select>
        </div>

        <div th:if="${readOnly}"
                class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong th:text="#{user.group.permissions.selected}">
                        user.group.permissions.selected
                    </strong>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"
                        th:each="permission : ${userGroup.permissions}"
                        th:with="permissionName=${'user.permission.'} + ${permission}"
                            th:text="#{${permissionName}}">
                        user.permission.${permission}
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <div class="tab-pane" id="authorShipTab">
        <div th:remove="tag" th:include="@{_fragment/_authorship} :: authorship (entity=${userGroup})"></div>
    </div>
</div>
<div id="overlay" class="transparent"></div>

<div id="menu-space" style="display:none;">&nbsp;</div>
</body>
</html>