<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong th:text="#{user.group.view.title}" />
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <div th:remove="tag" th:include="@{user-group/_form} :: user-group-form"></div>

                <div class="btn-group" role="group">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_EDIT')"
                       th:href='@{|/${#authentication.systemUser.tenant.url}/user-group/edit/${userGroup.id}|}' class="btn btn-default">
                        <i class="fa fa-pencil-square-o"></i>
                        <span th:text="#{common.edit}" />
                    </a>
                    <a href='#' class="btn btn-default back" >
                        <i class="fa fa-backward"></i>
                        <span th:text="#{common.back}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>