<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="tenant-form">

<input type="hidden" id="id" name="id" th:value="${tenant.id}" />
<input type="hidden" id="status" name="status" th:value="${tenant.status}" />
<input type="hidden" id="logo" name="logo" th:value="${tenant.logo}" />

<ul class="nav nav-tabs" id="formTab" th:with="style=${!readOnly ? 'display: none;' : 'display: block;' }">
    <li class="active">
        <a href="#home">
            <span class="fa fa-tasks"></span>
        </a>
    </li>
    <li th:style="${style}">
        <a href="#authorShipTab">
            <span class="fa fa-user"></span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <div class="form-group">
            <label for="spinner" class="control-label" th:text="#{tenant.spinner}">
                tenant.spinner
            </label>

            <div class="row">
                <div class="col-sm-3" th:each="spinner : ${spinnerList}">
                    <label class="control-label">
                        <input type="radio"
                               id="spinner"
                               name="spinner"
                               th:value="${spinner}"
                               th:checked="${spinner eq tenant.spinner}"
                               th:disabled="${readOnly}"
                                />
                        <img th:src="@{|/resources/app/img/${spinner.image}|}"
                             class="img"
                             width="64px;"
                             />
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="control-label" th:text="#{tenant.name}">
                tenant.name
            </label>
            <input class="form-control"
                   type="text"
                   id="name"
                   name="name"
                   th:value="${tenant.name}"
                   th:readonly="${readOnly}"
            />
        </div>
        <div class="form-group">
            <label for="showName" class="control-label" th:text="#{tenant.showName}">
                tenant.hasShowName
            </label>
            <input type="checkbox"
                   id="showName"
                   name="showName"
                   value="true"
                   th:disabled="${readOnly}"
                   th:checked="${tenant.showName}"
                    />
        </div>

        <div class="form-group">
            <label for="url" class="control-label" th:text="#{tenant.url}">
                tenant.url
            </label>
            <input class="form-control"
                   type="text"
                   id="url"
                   name="url"
                   th:value="${tenant.url}"
                   th:readonly="${readOnly}"
            />
            <blockquote th:with="visible=${readOnly ? 'display: none;' : 'display: block;' }"
                    th:style="${visible}" >
                <small th:text="#{tenant.url.change.advice}">
                    tenant.url.change.advice
                </small>
            </blockquote>
        </div>

        <div class="form-group">
            <label for="logoWidth" class="control-label" th:text="#{tenant.logoWidth}">
                tenant.logoWidth
            </label>
            <input class="form-control"
                   type="number"
                   id="logoWidth"
                   name="logoWidth"
                   th:value="${tenant.logoWidth}"
                   th:readonly="${readOnly}"
            />
        </div>

        <div class="form-group">
            <label for="logoHeight" class="control-label" th:text="#{tenant.logoHeight}">
                tenant.logoHeight
            </label>
            <input class="form-control"
                   type="number"
                   id="logoHeight"
                   name="logoHeight"
                   th:value="${tenant.logoHeight}"
                   th:readonly="${readOnly}"
            />
        </div>

        <div class="form-group" th:if="${!readOnly}">
            <label for="logoFile" class="control-label" th:text="#{tenant.logo}">
                tenant.logo
            </label>
            <input type="file" class="form-control" name="logoFile[0]" />
        </div>

        <div class="form-group" th:if="${!readOnly}">
            <label for="iconFile" class="control-label" th:text="#{tenant.icon}">
                tenant.icon
            </label>
            <input type="file" class="form-control" name="iconFile[0]" />
        </div>

        <div class="form-group">
            <label for="showName" class="control-label" th:text="#{tenant.sendAuthEmail}">
                tenant.sendAuthEmail
            </label>
            <input type="checkbox"
                   id="sendAuthEmail"
                   name="sendAuthEmail"
                   value="true"
                   th:disabled="${readOnly}"
                   th:checked="${tenant.sendAuthEmail}"
                    />
        </div>

        <div class="form-group">
            <label for="emailFrom" class="control-label" th:text="#{tenant.emailFrom}">
                emailFrom
            </label>

            <input type="text"
                   id="emailFrom"
                   name="emailFrom"
                   class="form-control"
                   th:value="${tenant.emailFrom}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="emailPassword" class="control-label" th:text="#{tenant.emailPassword}">
                emailPassword
            </label>

            <input type="password"
                   id="emailPassword"
                   name="emailPassword"
                   class="form-control"
                   th:value="${tenant.emailPassword}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="smtpHost" class="control-label" th:text="#{tenant.smtpHost}">
                smtpHost
            </label>

            <input type="text"
                   id="smtpHost"
                   name="smtpHost"
                   class="form-control"
                   th:value="${tenant.smtpHost}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="smtpPort" class="control-label" th:text="#{tenant.smtpPort}">
                smtpPort
            </label>

            <input type="number"
                   id="smtpPort"
                   name="smtpPort"
                   class="form-control"
                   th:value="${tenant.smtpPort}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="useTLS" class="control-label" th:text="#{tenant.useTLS}">
                useTLS
            </label>

            <input type="checkbox"
                   id="useTLS"
                   name="useTLS"
                   value="true"
                   th:disabled="${readOnly}"
                   th:checked="${tenant.useTLS}"
                    />
        </div>

        <div class="form-group">
            <label for="showAdds" class="control-label" th:text="#{tenant.showAdds}">
                tenant.showAdds
            </label>
            <input type="checkbox"
                   id="showAdds"
                   name="showAdds"
                   value="true"
                   th:disabled="${readOnly}"
                   th:checked="${tenant.showAdds}"
                    />
        </div>

        <div class="form-group">
            <label for="googleAdClient" class="control-label" th:text="#{tenant.googleAdClient}">
                googleAdClient
            </label>

            <input type="text"
                   id="googleAdClient"
                   name="googleAdClient"
                   class="form-control"
                   th:value="${tenant.googleAdClient}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="googleAdSlotOne" class="control-label" th:text="#{tenant.googleAdSlotOne}">
                googleAdSlotOne
            </label>

            <input type="number"
                   id="googleAdSlotOne"
                   name="googleAdSlotOne"
                   class="form-control"
                   th:value="${tenant.googleAdSlotOne}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="googleAdSlotTwo" class="control-label" th:text="#{tenant.googleAdSlotTwo}">
                googleAdSlotTwo
            </label>

            <input type="number"
                   id="googleAdSlotTwo"
                   name="googleAdSlotTwo"
                   class="form-control"
                   th:value="${tenant.googleAdSlotTwo}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="googleAdSlotThree" class="control-label" th:text="#{tenant.googleAdSlotThree}">
                googleAdSlotThree
            </label>

            <input type="number"
                   id="googleAdSlotThree"
                   name="googleAdSlotThree"
                   class="form-control"
                   th:value="${tenant.googleAdSlotThree}"
                   th:readonly="${readOnly}"
                    />
        </div>

        <div class="form-group">
            <label for="googleAnalyticsUserAccount" class="control-label" th:text="#{tenant.googleAnalyticsUserAccount}">
                googleAnalyticsUserAccount
            </label>

            <input type="text"
                   id="googleAnalyticsUserAccount"
                   name="googleAnalyticsUserAccount"
                   class="form-control"
                   th:value="${tenant.googleAnalyticsUserAccount}"
                   th:readonly="${readOnly}"
                    />
        </div>
    </div>

    <div class="tab-pane" id="authorShipTab">
        <div th:remove="tag" th:include="@{_fragment/_authorship} :: authorship (entity=${tenant})"></div>
    </div>
</div>
<div id="overlay" class="transparent"></div>

<div id="menu-space" style="display:none;">&nbsp;</div>
</body>
</html>