<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong th:text="#{tenant.view.title}" />
        </div>
        <div class="panel-body">
            <div class="col-sm-2">
                <center>
                    <img th:if="${tenant.logo != null} and ${tenant.logo != ''}"
                         class="img-thumbnail"
                         th:src="@{|/${tenant.url}/uploadedfiles/Tenant/${tenant.id}/${tenant.logo}|}"
                            />
                    <i th:if="${tenant.logo == null} or ${tenant.logo == ''}" class="fa fa-ship fa-4x" />
                </center>
            </div>

            <div class="col-sm-10">
                <div th:remove="tag" th:include="@{tenant/_form} :: tenant-form"></div>

                <div class="btn-group" role="group">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TENANT_EDIT')"
                       th:href='@{|/tenant/edit/${tenant.id}|}' class="btn btn-default">
                        <i class="fa fa-pencil-square-o"></i>
                        <span th:text="#{common.edit}" />
                    </a>
                    <a href='#' class="btn btn-default back" >
                        <i class="fa fa-backward"></i>
                        <span th:text="#{common.back}" />
                    </a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TENANT_MANAGER')"
                       th:href='@{|/tenant/change/${tenant.url}|}'
                       class="btn btn-default btn-small">
                        <i class="fa fa-exchange"></i>
                        <span th:text="#{tenant.change}">
                            tenant.change
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>