<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:fragment="headTag">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="X-Frame-Options" content="allow" />

        <!-- title selection -->
        <title th:if="${#authorization.expression('isAuthenticated()') == true} and ${#authentication.systemUser.tenant.name != null}"
               th:text="${#authentication.systemUser.tenant.name}"
                >
        </title>
        <title th:if="${#authorization.expression('isAuthenticated()') == true} and ${#authentication.systemUser.tenant.name == null}"
               th:text="#{app.title}"
                >
        </title>
        <title th:if="${#authorization.expression('isAuthenticated()') == false}"
               th:text="#{app.title}"
                >
        </title>

        <!-- icon selection -->
        <link th:if="${#authorization.expression('isAuthenticated()') == true} and ${#authentication.systemUser.tenant.icon != null}"
              rel="icon"
              type="image/png"
              th:src="@{|/${#authentication.systemUser.tenant.url}/uploadedfiles/Tenant/${#authentication.systemUser.tenant.id}/${#authentication.systemUser.tenant.icon}|}"
          />
        <link th:if="${#authorization.expression('isAuthenticated()') == true} and ${#authentication.systemUser.tenant.icon == null}"
              rel="icon"
              type="image/png"
              th:href="@{|/resources/app/img/favicon.png|}"
          />
        <link th:if="${#authorization.expression('isAuthenticated()') == false}"
              rel="icon"
              type="image/png"
              th:href="@{|/resources/app/img/favicon.png|}"
          />


        <!-- Bootstrap 3.3.4 -->
        <link th:href="@{/resources/plugin/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <!-- Font Awesome Icons -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link th:href="@{/resources/plugin/jvectormap/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link th:href="@{/resources/plugin/admin-lte/css/AdminLTE.min.css}" rel="stylesheet" type="text/css" />
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link th:href="@{/resources/plugin/admin-lte/css/skins/_all-skins.min.css}" rel="stylesheet" type="text/css" />

        <link th:href="@{/resources/plugin/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>

        <link th:href="@{/resources/plugin/chosen/css/chosen.css}" rel="stylesheet" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css' />
        <link th:href="@{/resources/app/css/app.css}" rel="stylesheet" media="screen" />

    </head>

    <body>
    </body>

</html>