<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="header">

        <!-- start: Header -->
        <div class="navbar" role="navigation">
            <div class="navbar-header align-center">
                <a class="align-center col-sm-12 navbar-brand"
                   style="text-align: center;"
                   th:href="${#authorization.expression('isAuthenticated()') == true} ? @{|/${#authentication.systemUser.tenant.url}/user|} : @{'/'}">
                    <strong>
                        <img class="normal-logo logo-white"
                             th:if="${#authorization.expression('isAuthenticated()') == true}
                                            and ${#authentication.systemUser.tenant.logo != null}"
                             th:src="@{|/${#authentication.systemUser.tenant.url}/uploadedfiles/Tenant/${#authentication.systemUser.tenant.id}/${#authentication.systemUser.tenant.logo}|}"
                             th:width="${#authentication.systemUser.tenant.logoWidth} + ${'px'}"
                             th:height="${#authentication.systemUser.tenant.logoHeight} + ${'px'}"
                             th:style="${'width: '} + ${#authentication.systemUser.tenant.logoWidth} + ${'px; height: '} + ${#authentication.systemUser.tenant.logoHeight} + ${'px;'}"
                                />
                            <span th:if="${#authorization.expression('isAuthenticated()') == true}
                                            and ${#authentication.systemUser.tenant != null}
                                            and ${#authentication.systemUser.tenant.showName == true}
                                            and ${#authentication.systemUser.tenant.name != null}"
                                  th:text="${#authentication.systemUser.tenant.name}">

                            </span>
                        <img class="normal-logo logo-white"
                             th:if="${#authorization.expression('isAuthenticated()') == false} or ${#authentication.systemUser.tenant.logo == null}"
                             th:src="@{'/resources/app/img/logo.png'}"
                             width="15"
                             height="20"
                             style="width: 15px; height: 20px;"
                                />
                        <span th:if="${#authorization.expression('isAuthenticated()') == false} or ${#authentication.systemUser.tenant.logo == null}"
                              th:text="#{app.title}"
                                />
                    </strong>
                </a>

            </div>

        </div>
        <!-- end: Header -->
    </body>
</html>