<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body th:fragment="header">

    <header class="main-header navbar-opacity">

        <a class="logo"
           th:href="${#authorization.expression('isAuthenticated()') == true} ? @{|/${#authentication.systemUser.tenant.url}/user|} : @{'/'}">

            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                <b>A</b>LT
            </span>

            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
                <strong>
                    <img class="logo-opacity" th:if="${#authorization.expression('isAuthenticated()') == true}
                                            and ${#authentication.systemUser.tenant.logo != null}"
                         th:src="@{|/${#authentication.systemUser.tenant.url}/uploadedfiles/Tenant/${#authentication.systemUser.tenant.id}/${#authentication.systemUser.tenant.logo}|}"
                         th:width="${#authentication.systemUser.tenant.logoWidth} + ${'px'}"
                         th:height="${#authentication.systemUser.tenant.logoHeight} + ${'px'}"
                         th:style="${'width: '} + ${#authentication.systemUser.tenant.logoWidth} + ${'px; height: '} + ${#authentication.systemUser.tenant.logoHeight} + ${'px;'}"
                            />
                    <span class="logo-opacity" th:if="${#authorization.expression('isAuthenticated()') == true}
                                    and ${#authentication.systemUser.tenant != null}
                                    and ${#authentication.systemUser.tenant.showName == true}
                                    and ${#authentication.systemUser.tenant.name != null}"
                          th:text="${#authentication.systemUser.tenant.name}">

                    </span>

                    <img class="logo-opacity" th:if="${#authorization.expression('isAuthenticated()') == false} or ${#authentication.systemUser.tenant.logo == null}"
                         th:src="@{'/resources/app/img/logo.png'}"
                         width="15"
                         height="20"
                         style="width: 15px; height: 20px;"
                            />
                    <span class="logo-opacity" th:if="${#authorization.expression('isAuthenticated()') == false} or ${#authentication.systemUser.tenant.logo == null}"
                          th:text="#{app.title}"
                            />
                </strong>
            </span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                </ul>
            </div>

        </nav>
    </header>

    </body>
</html>