#page-content {

}

.sidebar .sidebar-header img {
	max-height: 70px;
}

body {
	padding-bottom: 40px;
}

.navbar-opacity {
	opacity: 0.8;
}

.sidebar-overflow {
	position: absolute;
	overflow-y: scroll;
}

.sidebar-menu-size {
	width: 235px;
}

.avatar-max-height {
	max-height: 50px;
}

.logo-opacity {
	opacity: 0.99;
}

.center {
	text-align: center;
}

.menu-top {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.dropdown-menu-top-alternative-style {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.menu-header {
	color: #000000;
}

.menu-header-top {
	color: #FCFCFC;
}

.menu-text-default {
	color: #000000;
}

.menu-text-white {
	color: #FCFCFC;
}

.menu-item-text-default {
	color: #000000;
}

.menu-item-text-white {
	color: #FCFCFC;
}

.menu-title {
	color: #000000;
}

.menu-title-top {
	color: #FCFCFC;
}

#menu-toggle {
    position: relative;
    float: left;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    overflow: visible;
}

.menu-toggle-left-margin {
    margin-left: 15px;
}

#content {
    display: block;
}

/* Sidebar */
#sidebar {
    float: left;
}

#sidebar .side-menu  {
    margin: 0;
}

.menu-toggled .side-menu {
    overflow: hidden;
}

.side-menu > li > button {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 12px;
    height: 42px;
    margin-bottom: -4px;
    text-align: center;
    opacity: 0.55;
}

.side-menu .menu-item {
    white-space: nowrap;
    z-index: 9;
    width: 188px;
    display: block;
    line-height: normal;
    text-align: left;
    -webkit-backface-visibility: hidden;
}

.side-menu span.menu-item {
    top: 0;
    padding: 13px 15px 13px 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.side-menu .dropdown span.menu-item {
    top: 0;
}

.side-menu ul.menu-item {
    top: 42px;
    padding: 5px 0 13px;

}

.side-menu ul li > a {
    padding: 4px 8px;
    float: left;
    width: 100%;
}

ul.menu-item a.active {
    color: #FFD600;
}

.side-widgets {
    width: 188px;
    float: left;
    position: relative;
}

label {
	font-weight: bold;
}

caption {
	font-weight: bold;
}

.popover {
	max-width: 800px;
	width: auto;
}

.flag-selector {
	display:inline-block;
	width:35px;
	height:35px;
	cursor:pointer;
	margin:3px 0 -5px 5px;
}

.flag-selector img {
	margin-top: 7px;
}

p {
	overflow: auto;
}

input[type=checkbox] {
	opacity: 1 !important;
	position: inherit !important;
}

input[type=radio] {
	opacity: 1 !important;
	position: inherit !important;
}

.login-wrapper {
	position: absolute;
	top: 50px;
	width: 100%;
	margin-left: 0;
	animation: bounceInDownSmall 1s ease;
	-webkit-animation: bounceInDownSmall 1s ease;
	-moz-animation: bounceInDownSmall 1s ease;
	-ms-animation: bounceInDownSmall 1s ease;
	-o-animation: bounceInDownSmall 1s ease;
}
.login-wrapper.fadeOutUp {
	animation: fadeOutUp 0.5s ease-out;
	-webkit-animation: fadeOutUp 0.5s ease-out;
	-moz-animation: fadeOutUp 0.5s ease-out;
	-ms-animation: fadeOutUp 0.5s ease-out;
	-o-animation: fadeOutUp 0.5s ease-out;
	opacity: 0;
}
.login-wrapper .login-widget {
	margin: 0 auto;
	width: 400px;
	margin-top: 20px;
}
@media (max-width: 480px) {
	.login-wrapper .login-widget {
		width: 100%;
	}
}
.login-wrapper .login-widget .widget {
	box-shadow: 0 1px 15px -4px #000000;
	-moz-box-shadow: 0 1px 15px -4px #000000;
	-webkit-box-shadow: 0 1px 15px -4px #000000;
}

@media (max-width: 480px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 0%; 
		margin-right: 0%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: block;
    }
    .ad-desktop {
        display: none;
    }

    #sidebar {
        float: left;
        display: none;
    }
}

@media (max-width: 767px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 5%; 
		margin-right: 5%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: block;
    }
    .ad-desktop {
        display: none;
    }

    #sidebar {
        float: left;
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
	#header {
		height:0px;
	}
	
	.onlyBigWindows {
		visibility: hidden;
	}
	
	.loginForm {
		margin-left: 15%; 
		margin-right: 15%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: none;
    }
    .ad-desktop {
        display: block;
    }

    #sidebar {
        float: left;
        display: block;
    }
}

@media (min-width: 980px) {

	.loginForm {
		margin-left: 20%; 
		margin-right: 20%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: none;
    }
    .ad-desktop {
        display: block;
    }

    #sidebar {
        float: left;
        display: block;
    }
}

@media (min-width: 1200px) {
	.loginForm {
		margin-left: 25%; 
		margin-right: 25%;
	}
	
	.loginForm form {
		margin-left: 5%; 
		margin-right: 5%;
	}

    .ad-mobile {
        display: none;
    }
    .ad-desktop {
        display: block;
    }

    #sidebar {
        float: left;
        display: block;
    }
}