<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{_fragment/_headTag} :: headTag">
</head>
<body>
<div th:remove="tag" th:include="@{_fragment/_apolo-template} :: apolo-template"></div>

<div id="page-content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong th:text="#{user.list.title}" />
        </div>
        <div class="panel-body">

            <div th:with="searchUrlParam=${'/'} + ${#authentication.systemUser.tenant.url} + ${'/user/search'}">
                <div th:remove="tag"
                     th:include="@{_fragment/_search} ::
                        search (
                                searchUrl=${searchUrlParam},
                                placeholderTerm=${'user.search.field'}
                                )"
                        >
                    search Form
                </div>
            </div>

            <br />
            <center>
                <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
            </center>
            <div class="table-responsive" th:if="${userList != null} and ${!userList.isEmpty()}">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{user.picturefiles}">
                            user.picturefiles
                        </th>
                        <th th:text="#{user.name}">
                            user.name
                        </th>
                        <th th:text="#{user.email}">
                            user.email
                        </th>
                        <th th:text="#{user.signInCount}">
                            user.signInCount
                        </th>
                        <th th:text="#{user.status}">
                            user.status
                        </th>
                        <th th:text="#{common.actions}"
                                sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_LIST', 'ROLE_USER_MANAGER', 'ROLE_USER_REMOVE')">
                            common.actions
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user : ${userList}"
                        th:id="${'user_'} + ${user.id}">
                        <td>
                            <center>
                                <img th:if="${user.avatarFileName != null} and ${user.avatarFileName != ''}"
                                        class="img-thumbnail"
                                        th:src="@{|/${#authentication.systemUser.tenant.url}/uploadedfiles/User/${user.id}/${user.avatarFileName}|}"
                                        style="width: 40px;"
                                        width="40"
                                    />
                                <i th:if="${user.avatarFileName == null} or ${user.avatarFileName == ''}" class="fa fa-user fa-3x" />
                            </center>
                        </td>
                        <td>
                            <a th:href='@{|/${#authentication.systemUser.tenant.url}/user/view/${user.id}|}'
                               th:text="${user.name}"
                               class="btn btn-link" >
                                ${user.name}
                            </a>
                        </td>
                        <td th:text="${user.email}">
                            user.email
                        </td>
                        <td th:text="${user.signInCount}">
                            user.signInCount
                        </td>
                        <td th:with="i18nterm=${'user.status.'} + ${user.status}"
                                th:text="#{${i18nterm}}">
                            user.status.${user.status}
                        </td>
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_LIST', 'ROLE_USER_MANAGER', 'ROLE_USER_REMOVE')">
                            <div class="btn-group btn-group-sm">
                                <a th:href='@{|/${#authentication.systemUser.tenant.url}/user/view/${user.id}|}'
                                        class="btn btn-default"
                                        data-toggle="tooltip"
                                        th:title="#{common.show}">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                                <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_EDIT')"
                                        th:href='@{|/${#authentication.systemUser.tenant.url}/user/edit/${user.id}|}'
                                        class="btn btn-default"
                                        data-toggle="tooltip"
                                        th:title="#{common.edit}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                                <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER_REMOVE')"
                                        th:if="${#authentication.systemUser.id != user.id}"
                                        href='#'
                                        class="btn btn-default"
                                        th:with="removeAction=${'removeConfirmationDialogOpen('''} + ${'/'} + ${#authentication.systemUser.tenant.url} + ${'/user/remove/'} + ${user.id} + ${''', ''user_'} + ${user.id} + ${''');'}"
                                        th:onclick="${removeAction}"
                                        data-toggle="tooltip"
                                        th:title="#{common.remove}">
                                    <i class="fa fa-user-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body" th:if="${userList == null} or ${userList.isEmpty()}">
                <p th:text="#{common.nodatafound}">
                    common.nodatafound
                </p>
            </div>
            <center>
                <div th:remove="tag" th:include="@{_fragment/_pagination} :: pagination"></div>
            </center>
        </div>
    </div>
</div>

</body>
</html>