<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:include="@{_fragment/_headTag} :: headTag">
    </head>
    <body th:fragment="apolo-template" class="static-sidebar static-header">

        <div th:remove="tag" th:include="@{_fragment/_header-clean} :: header"></div>

        <div id="overlay" class="transparent"></div>

        <div class="login-wrapper">
            <div th:remove="tag" th:include="@{_fragment/_message} :: message"></div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong th:text="#{install.title}" />
                </div>
                <div class="panel-body">
                    <p th:text="#{install.msg.instructions}" />

                    <form id="systemForm" th:action="@{/install/save}" role="form" method="post" enctype="multipart/form-data" target="_self">

                        <div class="form-group">
                            <label for="name" class="control-label" th:text="#{user.name}" />
                            <input type="text" id="user.name" name="user.name" class="form-control focus" />
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label" th:text="#{user.email}" />
                            <input type="text" id="user.email" name="user.email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label" th:text="#{user.mobile}" />
                            <input type="text" id="user.mobile" name="user.mobile" class="form-control" placeholder="ex: 5511998991234"/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label" th:text="#{user.password}"/>
                            <div class="input-append">
                                <input type="password" id="user.password" name="user.password" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="picturefiles" class="control-label" th:text="#{user.picturefiles}"/>
                            <input type="file" class="form-control" name="user.picturefiles[0]" />
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" onclick="submitPage();">
                                <i class="glyphicon glyphicon-ok"></i>
                                <span th:text="#{common.save}" />
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div th:remove="tag" th:include="@{_fragment/_footer} :: footer"></div>

            <script th:src="@{/resources/app/js/install.js}"></script>

        </div>
    </body>
</html>